In [1]:
#slicing a string
l="machine,learning"
print(l[:2].upper()+l[8:10].upper())
print(l[:2].upper()+l[5:7].upper()+" "+l[9:12])
l1=["data",9,3024.23,3+4j,[10,20,30]]
print(l1[-5][-2:])

MALE
MANE ear
ta

In [2]:
x=[
    ['Math',['Algebra','Calculus','Geometry']],
    ['Science',['Physics','Chemistry','Biology']],
    ['Technology',['Programming','Networking','Ai']],
    ['History',['Ancient','Medieval','Modern']],
    ['Art',['Painting','Sculpture','Architecture']]
]
print((x[3][1][-1])+" "+(x[4][1][-1]))

print((x[0][1][-1][0:3]).upper())
print((x[1][1][-1][0:3]).upper())
print((x[1][1][1][0:3]).upper())

Modern Architecture
GEO
BIO
CHE

In [3]:
#tuple
weekdays=('sun','mon','tue','wed','thu','fri','sat')
print(weekdays)
weekdays[0:3]

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

('sun', 'mon', 'tue')

In [4]:
#list
list1=[10,15,20]
list1[0]=18
list1[2]+=5
list1

[18, 15, 25]

In [5]:
#dictionary
salaries={'john':15,'jame':14,'johny': 16}
print(salaries)
print(salaries['john'])

{'john': 15, 'jame': 14, 'johny': 16}
15

In [6]:
#operators
#rthematic operartors
x=5
y=10
print(f"addition:{x}+{y} = {x+y}")
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

addition:5+10 = 15
-5
50
0.5
5
0
9765625

In [7]:
#assignment operators
x=10
print(x)
x+=3
print(x)
x-=1
print(x)
x*=3
print(x)
x%=4
print(x)
x//=2
print(x)
x/=4
print(x)

10
13
12
36
0
0
0.0

In [8]:
#and operators
x=10
y=3
print(x&y)

2

In [9]:
#lefttshift operator
x=10
x<<=2
print(x)

40

In [10]:
#rightshift operator
x=10
x>>=2
print(x)

2

In [11]:
bin(20)
bin(100)

'0b1100100'

In [12]:
print(int('10100',2))

20

In [13]:
print(int('10110',2))

22

In [14]:
#comparison operator
x=10
y=20
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
False
True
True
False

In [15]:
#logical operator
a=5
b=10
print(a>2 and b<15)
print(a>2 or b<15)
print(not(a<2 or b>15))

True
True
True

In [16]:
#identity operator
x=6
z=x
y=3
r=y
print(x is y)
print(x is z)
print(y is not r)
print(x is not y)
a=4
b=5
h=b
print(a is b)
print(b is not h)

False
True
False
True
False
False

In [17]:
#membership operator
a=[100,20,39,4,5,6,1,9]
print(100 in a)
print(2 not in a)
print(39 not in a)

True
True
False

In [18]:
#bitwise operator
a=12
b=10
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<3)
print(a>>3)

8
14
6
-13
96
1

In [19]:
import math
print(math.ceil(3.6))
print(math.floor(2.6))
print(math.sqrt(4))
print(math.pow(2,1/2))
print(math.pow(2,-2))
print(math.pi)
print(math.tau)
print(math.e)
print(math.trunc(4.1))
print(math.fabs(-4))
print(math.exp(2))
#log(x,base)
print(math.log(8,2))
print(math.factorial(5))
print(math.gcd(40,60))
print(math.lcm(36,60))

4
2
2.0
1.4142135623730951
0.25
3.141592653589793
6.283185307179586
2.718281828459045
4
4.0
7.38905609893065
3.0
120
20
180

In [20]:
#conditional statements/if statements
Tamatoes=10
if Tamatoes<=15:
  print("true")

true

In [21]:
x=10
if x%2==0:
  print("data science")

data science

In [22]:
x=11
if x//2==5:
  print("data science")

data science

In [26]:
x=int(input())
if not((x%2==0) and (x<10)):
  print("data science")

10
data science

In [27]:
#if -else statement
x=3
if x>5:
  print("x is  greater than 5")
else:
  print("x is   less than 5")

x is   less than 5

In [28]:
tomato=int(input("total no of kgs:"))
if tomato<40:
  print("3kgs of tomatoes")
elif tomato<=70:
  print("2ks of tomaatoes")
else:
  print("1 kg of tomatoes")

total no of kgs:70
2ks of tomaatoes

In [29]:
x="science"
if "cien" in x:
  print("it is present")
else:
  print("it is not present")

it is present

In [30]:
age=int(input("enter your age:"))
permission=True
if age>=20:
  if permission:
    print("allowed")
  else:
    print("not allowed")
else:
  if age>=10:
    print("you are allowed with parents")
  else:
    print("you are not allowed")

enter your age:35
allowed

In [31]:
marks=int(input("enter your marks:"))
if marks<30:
  print("fail")
elif marks>35 and marks<=50:
  print("grade c")
elif marks>55 and marks<70:
  print("grade b")
elif marks>75 and marks<90:
  print("grade a")
else:
  print("grade a+")

enter your marks:95
grade a+